
header {
    background-color: #ffc8dd; 
    color: white; 
    padding: 1rem;
    text-align: center; 
  }
  
 
  footer {
    background-color: #d4aceb; 
   
    padding: 1rem;
    text-align: center; 
 }
  



  